<!DOCTYPE html>
<html>
    <%- include("../partials/head.ejs") %> 

    <body class="index-body">
        <%- include("../partials/header.ejs") %> 
        <main>
            <div class="index-div">
            <a class="index-a" href="/habits/new"><button class="index-button">Add New Habit</button></a>
            <a class="index-a" href="/habits/pomodoro"><button class="index-timer">Pomodoro Timer</button></a>
            <a class="index-a" href="/user/logout"><button class="index-logout-btn">Logout</button></a>
            
            <%  for (habit of habits){ %>
                <article class="index-article">
                    <a href="/habits/<%=habit._id %>"> 
                    
                    <%=habit.name%> -
                    <%=habit.complete %> 
                </a>
               
                <% function dailyCheckIn(){ %>
                    <% let counter=0 %>
                    <% counter=habit.checkIn %>
                   <% counter++ %>
               <% } %>

                    <button onclick="dailyCheckIn()" class="index-checkin-btn">Check-in</button>
                    
                </article>
                <% } %>
            
            
        </div>
        </main>
    
    </body>

</html>