<!DOCTYPE html>
<html>
    <%- include("../partials/head.ejs") %> 

<body>
    <%- include("../partials/header.ejs") %> 
        <main>
            <div>
                <article class="show-article">
                    <h2>Habit Name: <%=habit.name %></h2>
                    <h2>Type: <%=habit.type %></h2>
                    <h2>Start Date: <%=habit.startDate %></h2>
                    <h2>Target Date: <%=habit.tartgetDate %></h2>
                    <h2>Complete? <%=habit.complete %></h2>
                    <h2>Notes: <%=habit.notes %></h2>
                    <h2>Username: <%=habit.username %></h2>
                
                    <a href="/habits/<%=habit._id%>/edit">
                        <button class="show-button">Edit</button>
                    </a>
                    <form action="/habits/<%=habit._id%>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" />
                    </form>
                    <a href="/habits/">
                        <button>Back</button>
                    </a>
                </article>
            </div>
        </main>
    </body>
</html>